* {
  background-color: rgb(24, 26, 27);
  color: rgb(137, 138, 139);
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(243, 243, 243);
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: rgb(243, 243, 243);
  color: rgb(214, 197, 45);
  text-decoration: underline;
}

.sub-heading {
  color: rgb(162, 162, 162);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "poppins", helvetica, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
